.forgot-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  text-align: center;
}

.forgot-card h2 {
  margin-bottom: 8px;
  color: #1F1F1F;
}

.forgot-subtitle {
  margin-bottom: 25px;
  font-size: 0.9rem;
  color: #6A6A6A;
}

.forgot-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.forgot-form input {
  padding: 10px;
  border: 1px solid #CFCFCF;
  border-radius: 6px;
  font-size: 1rem;
}

.forgot-form input:focus {
  outline: none;
  border-color: #FF8C42;
  box-shadow: 0 0 5px rgba(255, 140, 66, 0.4);
}

.forgot-btn {
  margin-top: 10px;
  background-color: #FF8C42;
  color: white;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
}

.forgot-btn:hover {
  background-color: #e97b33;
}
