.resend-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.resend-card {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.resend-card h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #222;
}

.resend-card input {
  padding: 0.75rem 0.9rem;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 1rem;
}

.resend-card input:focus {
  outline: none;
  border-color: #FF8C42;;
  box-shadow: 0 0 5px rgba(255, 140, 66, 0.4);
}

.resend-card button {
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #FF8C42;
  color: white;
  transition: background-color 0.2s ease;
}

.resend-card button:hover:not(:disabled) {
  background-color:  #e97b33;
}

.resend-card button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}