footer {
    background-color: #333; /* tamna pozadina */
    color: #f0f0f0;         /* svetao tekst */
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-motto {
    font-style: italic;
    font-size: 0.9rem;
}