header {
    background-color: #FF8C42;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    transition: color 0.2s ease
}

nav a:hover {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: larger
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
}

.user-avatar {
    width: 100px;
    border-radius: 50%;
}

.username {
    font-weight: bold;
    margin: 0;
    line-height: 1;
    font-size: 1.2rem;
    margin-left: -1.5rem
}

.nav-links {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}